.navbar_login_item {
  font-family: "Helvetica";
  font-weight: 100;
  padding: 0.1em 0.75em 0.1em 0.75em;
  font-size: 15px;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
}

.navbar_login_item:hover {
  font-size: 0px;
}

.navbar_login_item:hover:before {
  content: "Login";
  font-size: 15px;
}
