.navbar_login {
  position: relative;
}

.navbar_login_item {
  font-family: "NewParisSkyline";
  padding: 2px 2px 2px 2px;
  font-size: 18px;
  width: fit-content;
  border: 1px solid #000;
  cursor: pointer;
}

.navbar_login_modal_container {
  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 70px 70px 70px;
  row-gap: 20px;
  padding: 40px;
  align-content: center;
  justify-content: center;
}

input[name="id"] {
  border: 1px solid #000;
  font-family: "NewParisSkyline", sans-serif;
  color: #888888;
  padding: 16px;
  font-size: 37px;
}

input[name="password"] {
  border: 1px solid #000;
  font-family: "NewParisSkyline", sans-serif;
  color: #888888;
  padding: 16px;
  font-size: 37px;
}

input[type="text"]:focus {
  /* background-color: #ff00ff; */
}

.button {
  font-family: "NewParisSkyline", sans-serif;
  font-size: 33px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.button span {
  align-self: center;
  justify-self: center;
}

.create-account {
  font-family: "NewParisSkyline";
  padding: 2px 2px 2px 2px;
  font-size: 30px;
  text-align: right;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .Modal {
    width: 300px;
  }
}
