.navbar_login {
  position: relative;
}

.navbar_login_item {
  font-family: "NewParisSkyline";
  padding: 2px 2px 2px 2px;
  font-size: 18px;
  width: fit-content;
  border: 1px solid #000;
  cursor: pointer;
}

.navbar_login_modal_container {
  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 70px 70px 70px;
  row-gap: 20px;
  padding: 40px;
  align-content: center;
  justify-content: center;
}
