.mobile_signup_container {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.mobile_signup_form {
  width: 100%;
}

.mobile_signup_form input {
  width: 100%;
  margin-bottom: 20px;
}

input[name="mobile_signup_id"],
input[name="mobile_signup_password"],
input[name="mobile_signup_username"] {
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fff5f5;
  outline: none;
  margin-right: 1em;
  padding-bottom: 0.5em;
}

.mobile_signup_button {
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  justify-self: right;
  right: 0;
}

.become_a_member {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
