.board_list_container {
  text-align: left;
  border: 1px solid #d1cab5;
  padding: 20px;
}

.list_tit {
  border-bottom: solid 1px #ababab;
  color: #ababab;
}

.list_grid {
  display: grid;
  grid-template-columns: 17% 68% 15%;
}

.list_data {
  line-height: 2.5em;
}

.list_tag span {
  font-family: "Helvetica";
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.15em 0.75em 0.15em 0.75em;
  text-transform: uppercase;
  font-size: 11px;
  z-index: 98;
  font-weight: 100;
}

.paging_div {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  text-align: center;
  bottom: 0;
}

.paging_div div {
  padding: 15px;
  text-align: center;
}

.page_num {
  margin-right: 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .board_list_container {
    display: none;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .board_list_container {
    display: none;
  }
}

@media (max-width: 576px) {
  .board_list_container {
    display: none;
  }
}
