.each_post_container {
  display: inline-grid;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff5f5;
  grid-template-columns: 1fr 2fr;
}
