.calandar_container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .event-summary,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .calendar-list-view__navigate-button--left,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .subcribe-to-calendar__inverse,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .md
  .search-toggle,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .calendar-event-details__title,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .calendar-event-details__description,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .single-event__back,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .event-subcribe-to-calendar,
div[data-widgetuuid="025d70f1-3768-4efa-a8db-f98a9ebd3780"]
  #event-calendar-app
  .event-summary {
  border-radius: 0px !important;
}

.calendar-list-view__navigate-button.calendar-list-view__navigate-button--left {
  border-radius: 0px !important;
}

.subcribe-to-calendar__inverse {
  border-radius: 0px !important;
}

.subcribe-to-calendar {
  border-radius: 0px !important;
}

#event-calendar-app .view-mode ul li:first-child {
  border-radius: 0px !important;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .calandar_container {
    margin-top: 50px;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .calandar_container {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .calandar_container {
    margin-top: 50px;
  }
}
