boto3==1.16.38
botocore==1.19.38
celery==5.0.5
coreschema==0.0.4
Django==3.1.4
django-cors-headers==3.6.0
django-redis==4.12.1
django-seed==0.2.2
django-sslserver==0.22
django-storages==1.11
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
drf-yasg==1.20.0
Faker==5.0.2
gunicorn==20.0.4
Pillow==8.1.0
psycopg2-binary==2.8.6
PyYAML==5.3.1
redis==3.5.3
requests==2.25.1
s3transfer==0.3.3
SecretStorage==2.3.1
simplejson==3.16.0
sqlparse==0.4.1
whitenoise==5.2.0
