option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_NAME: hivcd
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: localhost
    POSTGRES_PORT: 5432
    EMAIL_HOST_USER: "testssg0208@gmail.com"
    EMAIL_HOST_PASSWORD: "testssg0208@12"
    FRONTEND_URL: "http://hivcdwebsite-env.ap-northeast-2.elasticbeanstalk.com/"
    APP_SCHEME: "hongiksidi"
    DJANGO_SETTINGS_MODULE: config.settings.dev
    EMAIL_USE_TLS: True
    EMAIL_HOST: "smtp.gmail.com"
    EMAIL_PORT: 587
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi.py:application
    NumProcesses: 3
    NumThreads: 20

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []