@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.archive_container {
width: calc(100% - 40px);
height: calc(100vh - 120px);
max-height: calc(100vh - 120px);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  word-break: keep-all;
  line-height: 1.8em;
  font-family: "Helvetica", sans-serif;
  animation: 1s ease-out 0s 1 fadeIn;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}

.archive_wrapper {
  width: 60%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  background-color: #ffeb00;
  border: 1px solid #ffba00;
  animation: 1s ease-out 0s 1 fadeIn;
}

.archive_wrapper_text {
	height: 100%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.3em;
    row-gap: 0.3em;
    max-height: inherit;
    position: relative;
    animation: 1s ease-out 0s 1 fadeIn;
    max-height: 100%;
    overflow: auto;
}

.arrows_and_number_container {
  width: 100%;
}
.arrows_and_number {
  margin: 0 auto;
}

.archive_wrapper_text_title {
	height: fit-content;
  font-size: 24px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: flex-start;
  justify-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.archive_wrapper_text_date {
  border-bottom: 1px solid #000;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.archive_wrapper_text_body {
  font-size: 17px;
  margin-top: 1em;
  margin-bottom: 3em;
  height: fit-content;
  max-height: fit-content;
}

.archive_wrapper_text_link {
  display: flex;
  align-items: flex-end;
}

.archive_wrapper_slider {
  position: relative;
  height: 50%;
  max-height: 50%;
  margin-top: 20px;

}

.archive_wrapper_slider > div:first-child {
	position: relative;
	height: 100%;
	max-height: 100%;

  }

.archive_wrapper_slider img {
	object-fit: cover !important;
}

.slick-dots {
  position: relative;
}

.archive_index_container {
    width: 40%;
    margin-right: 14px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
    overflow: auto;
    animation: 1s ease-out 0s 1 fadeIn;
}

.arrows_and_number_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  bottom: 0;
}

.slide_container {
  margin: 0 16px 0 16px;
}

.archive_index_container_before {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
  overflow: auto;
  max-height: calc(100vh - 120px);
}

.archive_index_box {
  position: relative;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  line-height: 1.7em;
  overflow: auto;
  word-break: keep-all;
  animation: 1s ease-out 0s 1 fadeIn;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.archive_index_box_tag {
  position: absolute;
  top: 0;
  right: -1px;
  font-family: "Helvetica";
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.1em 0.75em 0.1em 0.75em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  z-index: 100;
}

.archive_index_box_content {
  font-family: "Helvetica";
  font-size: 18px;
  display: inline-grid;
  width: 65%;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0;
  padding-right: 0.5em;
  cursor: pointer;
  color: #000;
}

.archive_index_box_text_title {
  padding-right: 20px;
}

.archive_index_box_image {
  float: right;
  width: 35%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date_span {
  display: flex;
  align-self: center;
  justify-self: center;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 1199px) {
  .archive_wrapper_text_title {
    font-size: 18px;
  }


.archive_index_container {
	width: 40%;
	  margin-right: 20px;
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 100px;
	  grid-auto-rows: 100px;

	}

.archive_container {
	width: calc(100% - 40px);
	height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
}

.archive_wrapper_text_title {
	padding-top: 0px;
}
  .archive_wrapper {
	  height: 100%;
	  max-height: 100%;
	display: flex;
	flex-direction: column;
    background-color: #ffeb00;
    border: 1px solid #ffba00;
  }

  .archive_wrapper_text {
    order: 2;
	padding-top: 10px;
	height: fit-content;
	max-height: 100%;
  }

  .archive_wrapper_slider {
    position: relative;
    min-height: 400px;
    max-height: 40%;
	overflow: auto;
	margin-bottom: 20px;
  }

  .archive_wrapper_text {
    height: auto;
    max-height: auto;
  }
}


@media (max-width: 767px)  {
	.archive_container {
		width: calc(100vw - 20px);
		margin-left: 10px;
		margin-right: 10px;
		height: calc(100vh - 70px);
	max-height: calc(100vh - 70px);
	flex-direction: column;
	}

	.archive_index_container {
		display: none;
	}

  .archive_wrapper_text_title {
    font-size: 18px;
  }

  .archive_wrapper {
	  width: 100%;
  }


  .archive_wrapper_text {
    order: 2;
    padding-top: 20px;
  }


  .archive_wrapper_text {
    height: auto;
    max-height: auto;
  }
}


@media (max-width: 576px) {
	.archive_container {
		width: calc(100vw - 20px);
		margin-left: 10px;
		margin-top: 50px;
		margin-right: 10px;
		height: calc(100vh - 70px);
	max-height: calc(100vh - 70px);
	flex-direction: column;
	}
  }
