.archive_container {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  word-break: keep-all;
  line-height: 1.8em;
}

.archive_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  background-color: #ffeb00;
  border: 2px solid #ffba00;
}

.archive_wrapper_text {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 7fr 1fr;
}

.arrows_and_number_container {
  width: 100%;
}
.arrows_and_number {
  margin: 0 auto;
}

.archive_wrapper_text_title {
  font-size: 30px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-items: center;
}

.archive_wrapper_text_date {
  border-bottom: 1px solid #000;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.archive_wrapper_text_body {
  font-size: 17px;
  margin-top: 1em;
}

.archive_wrapper_text_link {
  display: flex;
  align-items: flex-end;
}

.archive_wrapper_slider {
  padding-top: 20px;
  position: relative;
}

.slick-dots {
  position: relative;
}

.archive_index_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 40vh;
  overflow: auto;
}

.arrows_and_number_container {
  position: absolute;
  bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 20px;
  height: 5%;
}

.slide_container {
  margin: 0 16px 0 16px;
}

.archive_index_box {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 15px;
  position: relative;
  overflow: auto;
}

.archive_index_box_text_title {
  padding-right: 20px;
  margin-bottom: 20px;
}

.archive_index_box_image {
}

.archive_index_box_image span {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 0.25em 0.75em 0.25em 0.75em;
}

.archive_index_box_image img {
  width: 100%;
  height: 100%;
}

.date {
  display: flex;
  align-items: center;
  justify-items: center;
}

.date_span {
  display: flex;
  align-self: center;
  justify-self: center;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .archive_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-template-rows: 1.5fr 1fr;
    background-color: #ffeb00;
    border: 2px solid #ffba00;
  }

  .archive_wrapper_slider {
    padding-left: 20px;
  }

  .archive_wrapper_text {
    order: 2;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .archive_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-template-rows: 1.5fr 1fr;
    background-color: #ffeb00;
    border: 2px solid #ffba00;
  }

  .archive_wrapper_slider {
    padding-left: 20px;
  }

  .archive_wrapper_text {
    order: 2;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .archive_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-template-rows: 1.5fr 1fr;
    background-color: #ffeb00;
    border: 2px solid #ffba00;
  }

  .archive_wrapper_slider {
    padding-left: 20px;
  }

  .archive_wrapper_text {
    order: 2;
  }
}

@media (max-width: 576px) {
  .archive_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-template-rows: 1.5fr 1fr;
    background-color: #ffeb00;
    border: 2px solid #ffba00;
  }

  .archive_wrapper_slider {
    padding-left: 20px;
  }

  .archive_wrapper_text {
    order: 2;
  }
}
