.archive_wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.archive_container {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-columns: 145px;
  grid-auto-rows: 200px;

  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.archive_gw_container {
  grid-row-gap: 20px;
}

.archive_wvf_container {
  grid-row-gap: 20px;
}

.archive_etc_container {
  grid-row-gap: 20px;
}

.address_module {
  padding: 15px;
  border: 1px solid #000;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .archive_wrapper {
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .archive_container {
    grid-template-columns: 1fr 1fr;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .archive_wrapper {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .archive_container {
    width: calc(100vw - 40px);
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .archive_wrapper {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .archive_container {
    width: calc(100vw - 40px);
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

.archive_filter_wrapper {
  margin-bottom: 20px;
}

.archive_filter_container {
  display: inline;
}

.archive_filter_option {
  font-size: 15px;
  color: #000;
  font-weight: 100;
  padding: 0.1em 0.75em 0.1em 0.75em;
  margin-right: 10px;
  text-align: center;
  width: fit-content;
  background-color: #fff5f5;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border: 1px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

.archive_filter_option:focus {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  padding: 0.1em 0.75em 0.1em 0.75em;
  margin-right: 10px;
  text-align: center;
  width: fit-content;
  background-color: #000;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border: 1px solid #000;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .archive_filter_wrapper {
    margin-top: 70px;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .archive_filter_wrapper {
    margin-top: 70px;
  }
}

@media (max-width: 576px) {
  .archive_filter_wrapper {
    margin-top: 70px;
  }

  .archive_filter_container {
    display: inline-grid;
  }

  .archive_filter_option {
    margin-bottom: 10px;
  }
}
