.hamburger-btn {
  font-size: 1.3rem;
  width: 40px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 20px;
  outline: none;
  background-color: #fff5f5;
  color: #000;
  border: none;
}

.hamburget-btn:focus {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border: 2px solid #000;
  outline: none;
}

.addTransiton {
  transform: translateX(-300vw) translateY(50px);
  transition: transform 0.5s ease-in-out;
}
.removeTransition {
  transform: translateX(0px) translateY(50px);
  transition: transform 0.5s ease-in-out;
}

#sidebar-list {
  background-color: #fff5f5;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
}
.nav-big {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-weight: bold;
}

.nav-big-link {
  cursor: pointer;
  text-decoration: none !important;
}

.nav-small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 40%;
  margin-top: 50px;
  width: 80%;
}
.nav-small-link {
  cursor: pointer;
  padding-bottom: 5px;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 576px) {
  .addTransiton {
    transform: translateX(-700px) translateY(60px);
    transition: transform 0.5s ease-in-out;
  }
  .removeTransition {
    transform: translateX(0px) translateY(60px);
    transition: transform 0.5s ease-in-out;
  }

  #sidebar-list {
    background-color: #fff5f5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
  }
}
