.classroom {
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  margin-bottom: 20px;
  height: 100%;
}

.classroom_check {
  background: #339902;
  background-image: linear-gradient(#007946 2px, transparent 0),
    linear-gradient(90deg, #007946 2px, transparent 0);
  background-size: 16.5% 19.9%;
}

.classroom h2 {
  font-family: "AGChoiJeongHo";
  font-size: 18px;
  padding-top: 0.5rem;
}

.classroom p {
  font-size: 2rem;
}

.classroom .module_tag {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "NewParisSkyline";
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0 1em 0 1em;
}

.classroom .module_content {
  font-family: "CenturySchoolbook";
  font-size: 18px;
}
