.comment_container {
  display: inline-grid;
  grid-template-columns: 1.5fr 4fr 1fr;
}

.comment_container div {
  margin-bottom: 1rem;
}

.comment p b {
  color: 212529;
}

.comment_container_username {
  margin-left: 0;
  padding: 0;
}
