.aboutus_wrapper {
  margin: 20px;
  margin-bottom: 40px;
  position: relative;
  height: 100vh;
}

.aboutus_curriculum {
  width: 100%;
  text-align: center;
}

.aboutus_contact {
  width: 100%;
  text-align: left;
}

.aboutus_contact tr {
  border-bottom: 1px solid black;
}

th {
  border-bottom: 1px solid black;
  padding: 10px;
}

td {
  padding: 5px;
}

.aboutus_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 50vh);
  column-gap: 10px;
  row-gap: 10px;
}

#naver_map {
}
.aboutus_item {
  overflow: auto;
}

.aboutus_container .aboutus_item {
  border: 2px solid #000000;
  position: relative;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.aboutus_item p {
  font-size: 2rem;
  margin-top: 20px;
}

.aboutus_item .aboutus_item_tag {
  font-family: "Helvetica";
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.aboutus_item .aboutus_content {
  position: absolute;
  margin-top: 20px;
  font-family: "KoPubBatangMedium";
  line-height: 30px;
  font-size: 18px;
  position: sticky;
  top: 0;
}

.aboutus_content_contact {
  display: block;
  border-bottom: 1px solid black;
}

.aboutus_content_contact p {
  display: inline;
}

#history {
  background-color: #9099ff;
  border: 2px solid #6f55ff;
}

#map {
  background-color: #ffcc99;
  border: 2px solid #ff9191;
}

#curriculum {
  background-color: #ff01ff;
  border: 2px solid #e3001f;
}

#contact {
  background-color: #729b00;
  border: 2px solid #19a300;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .aboutus_wrapper {
    margin-top: 70px;
  }
  .aboutus_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 450px);
    column-gap: 20px;
    row-gap: 20px;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .aboutus_wrapper {
    margin-top: 70px;
  }
  .aboutus_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 450px);
    column-gap: 20px;
    row-gap: 20px;
  }
}

@media (max-width: 576px) {
  .aboutus_wrapper {
    margin-top: 70px;
  }
  .aboutus_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 450px);
    column-gap: 20px;
    row-gap: 20px;
  }
}
