.aboutus_wrapper {
  margin: 20px;
  margin-bottom: 120px;
  position: relative;
}

.aboutus_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 450px);
  column-gap: 20px;
  row-gap: 20px;
}

.aboutus_maintext {
	font-family: 'AGChoiJeongHo';
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2em;
	word-break: keep-all;
	width: 60%;
	line-height: 1.8em;
}

.aboutus_container .aboutus_item {
  border: 2px solid #000000;
  position: relative;
  background-color: #ffffff;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.aboutus_item h2 {

  font-family: "AGChoiJeongHo";
  font-size: 18px;
  padding-top: 0.5rem;
}

.aboutus_item p {
  font-size: 2rem;
  margin-top: 20px;
}

.aboutus_item .aboutus_item_tag {
	position: absolute;
	top: -1px;
	left: -1px;
	background-color: #000;
	color: #fff;
	width: fit-content;
	padding: 0 1em 0 1em;
  font-family: "NewParisSkyline";
  font-size: 20px;
  text-align: left;
}

.aboutus_item .aboutus_content {
	position: absolute;
margin-top: 20px;
  font-family: "CenturySchoolbook";
  font-size: 18px;
  position: sticky;
  top: 0;

}

#history {
	background-color: #9099FF;
	border: 2px solid #6F55FF;
}

#map {
	background-color: #FFCC99;
	border: 2px solid #FF9191;
}

#curriculum {
	background-color: #FF01FF;
	border: 2px solid #E3001F;
}

#contact {
	background-color: #729B00;
	border: 2px solid #19A300;
}
