.aboutus_wrapper {
  margin: 0px 20px 10px 20px;
  position: relative;
}

.aboutus_curriculum {
  width: 100%;
  text-align: center;
}

.aboutus_contact {
  width: 100%;
  text-align: left;
}

.aboutus_content p {
  font-size: 18px;
}

.aboutus_contact tr {
  border-bottom: 1px solid black;
}

.aboutus_contact th {
  border-bottom: 1px solid black;
  padding: 10px;
}

.faculty {
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.faculty th {
  border-bottom: 1px solid black;
  padding: 2px;
  font-weight: 400;
}

.subfaculty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.aboutus_contact td {
  padding: 5px;
  font-weight: 400;
}

.aboutus_contact td a {
  color: #000;
  font-weight: 400;
}
.aboutus_content p,
.credit a {
  font-size: 18px;
}

.colophon_table {
  width: 100%;
}

.colophon_table tr {
  border-bottom: 1px solid black;
}

.colophon_table tr th {
  font-weight: 400;
  padding: 10px 0px 10px 0px;
}

.aboutus_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 33vh);
  column-gap: 10px;
  row-gap: 10px;
}

.aboutus_item {
  overflow: auto;
}

.aboutus_container .aboutus_item {
  border: 2px solid #000000;
  position: relative;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.aboutus_item p {
  font-size: 2rem;
  margin-top: 20px;
}

.aboutus_item .aboutus_item_tag {
  font-family: "Helvetica";
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.aboutus_item .aboutus_content {
  position: absolute;
  margin-top: 20px;
  font-family: "Helvetica";
  line-height: 30px;
  font-size: 18px;
  position: sticky;
  top: 0;
}

.aboutus_content_contact {
  display: block;
  border-bottom: 1px solid black;
}

.aboutus_content_contact p {
  display: inline;
}

#history {
  background-color: #deadf0;
  border: 2px solid #bb12d8;
}

#map {
  background-color: #93f421;
  border: 2px solid #64cb0c;
}

#faculty {
  background-color: #fdfbc1;
  border: 2px solid #cfd372;
}

#contact {
  background-color: #cdcc33;
  border: 2px solid #a8b419;
}

#link {
  background-color: #fecc99;
  border: 2px solid #fd9191;
}

#colophon {
  background-color: #a3b3c4;
  border: 2px solid #78a4b7;
}

.aboutus_contact_mobile {
  display: none;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .aboutus_contact {
    font-size: 14px;
  }

  .faculty {
    font-size: 12px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .aboutus_wrapper {
    margin-top: 0px;
  }
  .aboutus_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 33vh);
    column-gap: 20px;
    row-gap: 20px;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .aboutus_wrapper {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .aboutus_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 450px);
    column-gap: 20px;
    row-gap: 20px;
  }
}

@media (max-width: 576px) {
  #react-naver-map {
    width: 100% !important;
  }

  #map .aboutus_item_tag {
    margin-bottom: 5px;
  }

  .aboutus_wrapper {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .aboutus_container {
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .aboutus_item .aboutus_content {
    font-size: 10px;
    display: block;
    line-height: 2.5em;
    margin-top: 0;
  }

  .aboutus_container .aboutus_item {
    padding: 0.5rem;
  }

  .aboutus_contact td {
    padding: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    border-bottom: 1px solid black;
  }

  .faculty {
    font-size: 9px;
  }

  .mobile_hide {
    display: none;
  }

  .faculty tr td {
    padding-right: 5px;
    font-size: 9px;
  }

  .subfaculty {
    display: grid;
    grid-template-columns: 1fr;
  }

  .subfaculty td {
    width: 50%;
  }

  .aboutus_item .aboutus_item_tag {
    padding: 5px;
    font-size: 18px;
  }
}
