.auth-button {
  height: 3rem;
  background: black;

  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  text-align: center;

  color: white;
  font-weight: 600;
  font-size: 1.5rem;

  cursor: pointer;
  user-select: none;
}
