.archive {
  position: relative;
  background-color: #ffeb00;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #ffba00;
  padding: 1rem;
  height: 100%;
  overflow: hidden;
}

.archive h2 {
  font-family: "AGChoiJeongHo";
  font-size: 18px;
  padding-top: 0.5rem;
  line-height: 23px;
}

.archive p {
  font-size: 2rem;
}

.archive .archive_tag {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "NewParisSkyline";
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 0 1em 0 1em;
}

.archive_content_container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
}

.archive .archive_content {
  font-family: "CenturySchoolbook";
  font-size: 18px;
  margin-left: -10px;
}

.archive_image {
  width: 100%;
}

.image_fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../../img/archive_ex.png");
}
