.alumni_wrapper {
  margin-left: 20px;
  margin-right: 20px;
  height: 100vh;
}

.alumni_container {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(auto-fit, 1fr));
  grid-auto-rows: 145px;
  grid-auto-columns: 145px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-wrap: break-word;
}

.alumni_module {
  padding: 15px;
  border: 1px solid #000;
}

.alumni_module_text {
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3em;
  text-align: center;
}

.alumni_module span {
  display: block;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .alumni_wrapper {
    margin-top: 50px;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .alumni_wrapper {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .alumni_wrapper {
    margin-top: 50px;
    width: calc(100vw - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
