.footer-item .footer-item-title {
	font-family: 'CenturySchoolback';
	font-size: 16px;
	text-decoration: underline;
}

.footer-item p {
	font-family: 'CenturySchoolback';
	font-size: 16px;
}

.korean_address {
	font-family: 'AGChoiJeongHo';
	font-size: 16px;
}

.english_address {
	font-family: 'CenturySchoolback';
	font-size: 16px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}
