.comment_list {
  border-radius: 5px;
}

.comment_list ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

input[name="comment"] {
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ff00ff;
  width: 90%;
  outline: none;
}

.comment_input_container {
  display: inline-grid;
  grid-template-columns: 1fr 6fr;
  width: 100%;
}

button.comment_input_button {
  font-family: "NewParisSkyline", sans-serif;
  font-size: 15px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  margin-left: 10px;
}
