/** HEADER **/

header {
	margin-top: 20px;
}

.navbar_title h1 { /* Restaurant name */
	font-family: 'CenturySchoolbook';
	font-weight: 400;
	color: #000;
	font-size: 18px;
}

.navbar_menu {
	float: right;
}

.navbar_menu_wrapper_item_title {
	font-family: 'CenturySchoolbook';
	font-weight: 400;
	color: #000;
	font-size: 18px;
	margin-right: 20px;
	text-decoration: underline;
}

.navbar_login {
	position: relative;
}

.navbar_login_item {
	font-family: "NewParisSkyline";
	padding: 2px 2px 2px 2px;
	font-size: 18px;
	text-align: center;
	position: absolute;
	width: 13%;
	border: 1px solid #000;
}

.navbar_search_item {
	font-family: "NewParisSkyline";
	padding: 2px 2px 2px 2px;
	font-size: 18px;
	text-align: center;
	position: absolute;
	width: 90%;
	border: 1px solid #000;
}

