.temp_EachPostWrapper {
  border: 1px solid #d1cab5;
  margin-left: 10px;
  height: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .temp_EachPostWrapper {
    margin-left: 0px;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .temp_EachPostWrapper {
    margin-left: 0px;
  }
}

/********** Extra Extra small (xxs) devices only **********/
@media (max-width: 576px) {
  .temp_EachPostWrapper {
    margin-left: 0px;
  }
}
