header {
  background-color: #fff5f5;
  padding: 15px 20px;
  width: 100%;
  text-decoration: none !important;
}

.header_line {
  display: none;
}

.header_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header_container_left {
  display: inline-grid;
  width: calc((100vw - 40px) * 0.5);
  column-gap: 10px;
}

.header_container_right {
  display: inline-grid;
  width: calc((100vw - 40px) * 0.5);
  grid-template-columns: 1fr auto;
  font-size: 17px;
  text-align: right;
}

.header_container_menubar {
  position: relative;
  right: 0;
  text-decoration: none !important;
}

.navber_menu_wrapper_item_title a:link {
  text-decoration: none !important;
}

.navber_menu_wrapper_item_title a:link:hover:before {
  text-decoration: none !important;
}

.header_container_system {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  text-align: center;
  font-size: 15px;
  top: 0.5px;
  position: relative;
  right: 0;
}

.title {
  font-family: "Helvetica";
  font-weight: 400;
  color: #000;
  font-size: 18px;
  display: inline-block;
}

.title:hover {
  font-size: 0px;
}

.title:hover:before {
  content: "Hongik University Visual Communication Design";
  font-size: 18px;
  font-family: "Helvetica";
  font-weight: 400;
  color: #000;
  display: inline-block;
  top: 0.5px;
  position: relative;
  right: 0;
}

#about,
#news,
#alumni,
#show,
#info,
#calandar,
#about:link,
#news:link,
#alumni:link,
#info:link,
#show:link,
#calandar:link,
#about:link:visited,
#about:link:focus,
#about:link:active,
#about:link:visited,
#about:link:focus,
#about:link:active,
#about:link:visited,
#about:link:focus,
#about:link:active,
#about:link:visited,
#about:link:focus,
#about:link:active,
#about:link:visited,
#about:link:focus,
#about:link:active,
#about:link:visited,
#about:link:focus,
#about:link:active {
  display: inline-block;
  text-decoration: none !important;
  color: #000;
}

.link {
  display: inline-block;
  text-decoration: none !important;
  color: #000;
  position: relative;
  right: 0;
  top: 3px;
}

.active {
  display: inline-block;
  text-decoration: none !important;
  border-bottom: 1px solid #000 !important;
  color: #000;
}

.navbar_menu_wrapper_item_title {
  display: inline-block;
  font-family: "Helvetica";
  text-decoration: none !important;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  margin-right: 20px;
}

.subscription_button {
  font-family: "Helvetica";
  font-weight: 400;
  padding: 0.1em 1em 0.1em 1em;
  font-size: 15px;
  border: 1px solid #000;
}

.navbar_menu_wrapper_item_title:hover {
  text-decoration: none !important;
}

.header_container_responsive {
  display: none;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  header {
    background-color: #fff5f5;
    padding: 15px 10px;
    width: 100%;
  }

  .header_container_responsive {
    display: inline-grid;
  }

  .hamburger_btn {
    background-color: none;
  }

  .header_container_left {
    display: inline-grid;
    width: 90%;
    grid-template-columns: 1fr;
    column-gap: 0;
    z-index: 1000;
  }

  .header_container_login,
  .header_container_search,
  .header_container_right {
    display: none;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  header {
    background-color: #fff5f5;
    padding: 15px 10px;
    width: 100%;
  }

  .header_container_responsive {
    display: inline-grid;
  }

  .hamburger_btn {
    background-color: none;
  }

  .header_container_left {
    display: inline-grid;
    width: 90%;
    grid-template-columns: 1fr;
    column-gap: 0;
    z-index: 1000;
  }

  .header_container_login,
  .header_container_search,
  .header_container_right {
    display: none;
  }
}

@media (max-width: 576px) {
  header {
    position: fixed;
    z-index: 2000;
    top: 0;
    padding: 15px 10px;
  }

  .header_line {
    display: grid;
  }
  .header_container_responsive {
    display: inline-grid;
  }

  .header_container_title h1 {
    font-size: 15px;
    position: relative;
    top: 3px;
  }

  .hamburger_btn {
    display: grid;
  }
  .header_container_left {
    display: inline-grid;
    width: calc(100vw - 40px);
    grid-template-columns: 1fr;
  }

  .header_container_login,
  .header_container_search,
  .header_container_right {
    display: none;
  }

  .title:hover:before {
    font-size: 15px;
  }
}
