.navbar_search_item {
  font-family: "Helvetica";
  font-weight: 100;
  padding: 0.1em 0.75em 0.1em 0.75em;
  font-size: 15px;
  border: 1px solid #000;
  cursor: pointer;
}

input[name="search"] {
  border: 1px solid #000;
  color: #000;
  font-family: "Helvetica", sans-serif;
  font-size: 33px;
  padding: 16px;
  width: 100%;
  height: 70px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .modal_div div div {
    top: 50vh !important;
    left: 0px !important;
    right: 0px !important;
    margin: 0 auto;
    width: 700px;
    height: 70px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 577px) and (max-width: 767px) {
  .navbar_title {
    margin-bottom: 20px;
  }

  .navbar_title h1 {
    /* Restaurant name */
    font-family: "Helvetica";
    font-weight: 400;
    color: #000;
    font-size: 18px;
  }

  .navbar_menu_wrapper_item_title {
    font-family: "Helvetica";
    font-weight: 400;
    color: #000;
    font-size: 18px;
    text-decoration: underline;
  }

  .navbar_login_item {
    font-family: "Helvetica";
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #000;
    width: 80%;
  }

  .navbar_search_item {
    font-family: "Helvetica";
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #000;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .navbar_title {
    margin-bottom: 20px;
  }

  .navbar_menu {
    margin-bottom: 20px;
  }

  .navbar_login {
    margin-bottom: 60px;
  }

  .navbar_search {
    margin-bottom: 40px;
  }

  .navbar_menu_wrapper_item_title {
    font-family: "Helvetica";
    font-weight: 400;
    color: #000;
    font-size: 18px;
    text-decoration: underline;
  }

  .navbar_login_item {
    font-family: "Helvetica";
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 20px;
  }

  .navbar_search_item {
    font-family: "Helvetica";
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #000;
    width: 80%;
  }
}
