.each_post_wrapper {
  border: 1px solid #ff00ff;
  background: #ff00ff;
  padding: 20px;
  position: relative;
  overflow: auto;
}

.each_post {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow: auto;
}

.each_post_tag {
  position: absolute;
  top: 20px;
  background-color: #000;
  color: #fff;
  width: fit-content;
  padding: 0 1em 0 1em;
}

.each_post h1 {
  font-size: 30px;
  font-weight: 100;
}

.each_post p {
  font-size: 18px;
}

.each_post_info {
  margin-bottom: 1em;
}

.attached_file {
}

.each_post_info span {
  display: inline;
  margin-right: 2em;
  width: fit-content;
}

.download_button {
  margin-left: 1em;
  font-size: 11px;
  height: 15px;
  color: #fff;
  font-weight: 100;
  padding: 0.1em 0.75em 0.1em 0.75em;
  margin-right: 10px;
  text-align: center;
  width: fit-content;
  background-color: #000;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border: 1px solid #000;
  outline: none;
}

.download_button:focus {
  outline: none;
}
