.calandar {
  position: relative;
  padding: 1rem;
  margin-bottom: 20px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.calandar_check {
  background: #00c4ff;
  background-image: linear-gradient(#0048ff 2px, transparent 0),
    linear-gradient(90deg, #0048ff 2px, transparent 0);
  background-size: 16.5% 19.8%;
}

.calandar h2 {
  font-family: "AGChoiJeongHo";
  font-size: 18px;
  padding-top: 0.5rem;
}

.calandar p {
  font-size: 2rem;
}

.calandar .module_tag {
  position: absolute;
  top: 0;
  right: 0px;
  font-family: "Helvetica";
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.15em 0.75em 0.15em 0.75em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 100;
}

.calandar .module_content {
  font-family: "CenturySchoolbook";
  font-size: 18px;
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .calandar {
    position: relative;
    padding: 1rem;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
  .calandar {
    position: relative;
    padding: 1rem;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .calandar {
    position: relative;
    padding: 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .calandar {
    position: relative;
    padding: 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
  .calandar {
    position: relative;
    padding: 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media only screen and (max-width: 576px) {
  .calandar {
    position: relative;
    padding: 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
