.signup_button {
  font-family: "NewParisSkyline", sans-serif;
  font-size: 33px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 1em 1em 1em 1em;
}

.signup_button span {
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.signup_button:hover {
  color: yellow;
  text-align: center;
}

.signup_container {
  background-image: url("../../img/logogif.gif");
  background-size: 20%;
  width: 100vw;
  height: 250vh;
  z-index: 100;
  background-repeat: repeat;
}

.back_to_home {
  color: #fff;
  text-align: center;
}

.back_to_home:hover {
  color: yellow;
  text-align: center;
}

@media (min-width: 1440px) and (max-width: 1920px) {
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1440px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (min-width: 577px) and (max-width: 767px) {
}

@media (max-width: 576px) {
}
